@font-face {
  font-family: "iconfont"; /* Project id 3279282 */
  src: url('iconfont.woff2?t=1657155914464') format('woff2'),
       url('iconfont.woff?t=1657155914464') format('woff'),
       url('iconfont.ttf?t=1657155914464') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-geren:before {
  content: "\e657";
}

.icon-xiaoxi:before {
  content: "\e62f";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-baogaofenxi:before {
  content: "\e608";
}

.icon-zhuye:before {
  content: "\e60c";
}

.icon-hudiejie:before {
  content: "\e6a2";
}

.icon-dangaotianpin:before {
  content: "\e6a3";
}

.icon-jiweijiu:before {
  content: "\e6a4";
}

.icon-hunliriqi:before {
  content: "\e6a5";
}

.icon-reqiqiu:before {
  content: "\e6a6";
}

.icon-huazhuang:before {
  content: "\e6a7";
}

.icon-ganbei:before {
  content: "\e6a8";
}

.icon-gaobai:before {
  content: "\e6a9";
}

.icon-hunqing:before {
  content: "\e6aa";
}

.icon-zuanjie:before {
  content: "\e6ab";
}

.icon-hunsha:before {
  content: "\e6ac";
}

.icon-xican:before {
  content: "\e6ad";
}

.icon-dangao:before {
  content: "\e6ae";
}

.icon-liwu:before {
  content: "\e6af";
}

.icon-xinxinxiangyin:before {
  content: "\e6b0";
}

.icon-shexiang:before {
  content: "\e6b1";
}

.icon-hunchuang:before {
  content: "\e6b2";
}

.icon-jiaotang:before {
  content: "\e6b3";
}

.icon-qiqiu:before {
  content: "\e6b4";
}

.icon-huanqing:before {
  content: "\e6b5";
}

.icon-sheying:before {
  content: "\e6b6";
}

.icon-md-remove-circle-outline:before {
  content: "\e659";
}

.icon-md-sync:before {
  content: "\e661";
}

.icon-md-thumbs-up:before {
  content: "\e663";
}

